$code-bg-color: #2c3237 !default;
$bg-color: #131418 !default;

body {
  background-color: #{$bg-color};
  color: #ddd;
  font-size: 1rem;
}

a {
  color: bisque;
}

pre {
  color: #ddd;
  background-color: #{$code-bg-color};
  border-radius: 6px;
  padding: 6px 12px;

  pre,
  code {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

code {
  color: #ddd;
  background-color: #{$code-bg-color};
  border-radius: 3px;
  padding: 3px 3px;
}
